a, a:link, a:hover, a:visited {
   color:black;
}

h1 {
   text-align:center;
   background-color:#dddddd;
   color:black;
   border-top:solid 1px #ffffff;
   border-bottom:solid 1px #aaaaaa;
   border-left:solid 1px #ffffff;
   border-right:solid 1px #aaaaaa;
   padding:10px;
   font-size:24px;
}

h2 {
	text-align:center; 
	border-bottom:solid 1px #aaaaaa;
	font-size:20px;
}

li {
	margin-top: 50px;
	margin-left: 50px;
	font-size: 20px;
}

body {
   font-family: verdana;
   font-size: 12px;
   background-color:#eeeeee;
}

.postit {
   background-color:#ffffcc; 
   padding:5px; 
   position:relative;
   border-right:solid 2px black;
   border-bottom:solid 2px black;
   margin-left:5px;
   margin-right:5px;
}

.columna {
   float:left; 
   width:220px; 
   padding:0px; 
   border-right:solid 1px #aaaaaa; 
   border-left:solid 1px #ffffff; 
   height:1000px;
   background-color:#dddddd;
}