a, a:link, a:hover, a:visited {
   text-decoration:none;
   color:black;
}

h1 {
   text-align:center;
   background-color:#dddddd;
   color:black;
   border-top:solid 1px #ffffff;
   border-bottom:solid 1px #aaaa;
   border-left:solid 1px #ffffff;
   border-right:solid 1px #aaaa;
}

h2 {
	text-align:center; 
	border-bottom:solid 1px #aaaaaa;
}

body {
   font-family: verdana;
   font-size: 12px;
   background-color:#eeeeee;
}

.postit {
   background-color:#ffffcc; 
   padding:5px; 
   position:relative;
   border-right:solid 2px black;
   border-bottom:solid 2px black;
}

.columna {
   float:left; 
   width:200px; 
   padding:10px; 
   border-right:solid 1px #aaaaaa; 
   border-left:solid 1px #ffffff; 
   height:100%; 
   background-color:#dddddd;
}